/* configure */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
    color: #a2a2a2;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
}