/* service seciton  */

.service{
    padding: 100px 50px;
    background-color: #000;
    text-align: center;
}
.box{
    display: flex;
    gap: 20px;
}

.card{
    width: fit-content;
    text-align: center;
    height: auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 0 5px 8px #a2a2a2;
    transform: translateY(-10px);
    transition: .5s;
}

.card>*{
    margin-bottom: 20px;
}

.card>p{
    text-align: center;
    line-height: 25px;
    font-size: 14px;
}

.card i{
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 30%;
    background-color: #fff;
    color: #000;
    line-height: 80px;
    text-align: center;
}
